/* Stile principale del contenitore */
.app-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar come overlay fisso */
.navbar-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Mappa che occupa l'intero schermo, sotto la navbar */
.map-content {
  position: relative;
  top: 56px; /* Altezza stimata della navbar */
  width: 100vw;
  height: calc(100vh - 56px); /* Altezza dello schermo meno la navbar */
  overflow-y: auto; /* Permette lo scorrimento verticale */
  padding-bottom: 1rem; /* Spazio per il contenuto */
}

/* Stile della mappa interna */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Personalizzazione popup della mappa */
.myPopup {
  padding: 1.25rem;
  border-right: 0.125rem solid black;
}

.leaflet-popup-content-wrapper {
  width: 100%;
  max-width: 90vw;
  max-height: 70vh;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  border-radius: 0.5rem;
  padding: 0.625rem;
}

.leaflet-popup-content {
  white-space: normal;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .myPopup {
      padding: 0.625rem;
      border-right: none; /* Rimuovi bordo destro */
      border-bottom: 0.125rem solid black; /* Aggiungi bordo inferiore */
  }

  .my-icons {
      font-size: 2rem;
  }

  .leaflet-popup-content-wrapper {
      max-width: 90vw;
      padding: 0.9375rem;
      max-height: 60vh;
  }
}

.my-icons {
  font-size: 3rem;
}
