/* Documents.css */
.container {
    max-width: 700px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  button {
    padding: 0.6rem 2rem;
  }

* {
  box-sizing: border-box;
}

.documents-background {
  background: linear-gradient(to right, #006d77, #83c5be); 
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto; 
}

body, html {
  overflow-y: auto; 
  height: 100%;
  margin: 0;
  padding: 0; 
}

.card {
  border-radius: 10px;
  border: none;
}

.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #006d77;
}

.input, .input-textarea, select {
  border-radius: 5px;
  border: 1px solid #006d77;
  padding: 0.75rem;
  transition: all 0.2s ease-in-out;
}

.input:focus, .input-textarea:focus, select:focus {
  border-color: #006d77;
  box-shadow: 0 0 5px rgba(0, 109, 119, 0.5);
}

.btn-save {
  background-color: #006d77;
  border: none;
  padding: 0.6rem 2.5rem;
  transition: background-color 0.3s ease;
}

.btn-saveLink {
  background-color: #006d77;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-save:hover {
  background-color: #005f6b;
}

.form-label {
  font-weight: 500;
  color: #006d77;
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }

  .card-title {
    font-size: 1.5rem;
  }
}




.step-btn {
  flex: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.step-btn .icon {
  font-size: 1.5rem;
  margin-bottom: 5px;
}


/* Menu dropdown con sfondo bianco e bordi leggeri */
.dropdown-menu-white {
  background-color: white !important;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Per un'ombra leggera */
  padding: 8px;
  max-height: 200px;
  overflow-y: auto; /* Aggiungi uno scroll se il contenuto è lungo */
  z-index: 1050; /* Assicura che il menu sia sopra gli altri elementi */
}

/* Rimuove margini indesiderati */
.dropdown-menu-white .dropdown-item {
  background-color: transparent !important;
  padding: 8px 16px;
  border: none;
  color: #333 !important;
}

/* Stile per checkbox */
.dropdown-menu-white .form-check-input {
  margin-right: 8px;
}

.dropdown-menu-white .form-check-label {
  color: #333 !important;
}

/* Effetto hover sugli elementi */
.dropdown-menu-white .dropdown-item:hover {
  background-color: #a9abae !important;
  border-radius: 3px;
}

/* Assicurati che il pulsante mantenga lo stile desiderato */
.dropdown-toggle {

  color: #333;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%; /* Per uniformare la dimensione al campo */
  text-align: left;
}

/* Effetto al passaggio del mouse sul pulsante */
.dropdown-toggle:hover {
  color: black;
}

/* Aggiusta il bordo per evitare neri */
.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
}

