/* Filtering.css */
/* General Styling Improvements */
html,
body {
  margin: 0;
  height: 100%;
  overflow-y: auto; /* Abilita lo scroll globale */
}

.viewall-background {
  background: linear-gradient(to right, #006d77, #83c5be);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh; /* Usa `min-height` invece di `height` */
  overflow-y: auto; /* Abilita lo scroll verticale se necessario */
}

.filtered-result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: transparent !important;
  height: 100%; /* Usa altezza completa del contenitore */
  max-height: none; /* Rimuovi qualsiasi limite massimo di altezza */
  overflow-y: auto; /* Consenti lo scroll verticale */
  padding-bottom: 20px; /* Spazio extra per evitare che i bottoni siano nascosti */
}

.documents-list {
  min-height: 100%;
  padding: 15px;
}

@media (min-width: 768px) {
  .filtered-result {
    margin-left: 27%;
    padding-left: 15px;
    padding-right: 2cm;
    background-color: #ffffff;
  }
}

/* SEARCH BAR */

.search-btn {
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  color: #495057;
  border-color: #006d77;
  border-width: 1px;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #006d77;
  color: white;
  border-color: #006d77;
}

.searchbar {
  border-color: #006d77;
  border-width: 1px;
}

.searchbar:hover,
.searchbar:focus {
  border-color: #006d77;
  border-width: 1.5px;
  box-shadow: none;
}

.bi-search {
  font-size: 1.2rem;
}

/* SIDEBAR FILTERING */
.sidebar-section {
  border-right: 1px solid #ddd;
  padding-right: 35px;
  padding-left: 35px;
  position: fixed;
  top: 108px; /* Posizione fissa a partire da un margine in alto */
  bottom: 0;
  height: calc(100vh - 108px); /* Sottrarre l'altezza della barra in alto */
  overflow-y: auto; /* Per gestire il contenuto scrollabile */
}

.filter-card {
  border-radius: 10px; /* Makes the entire card rounded */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adds a soft shadow for more depth */
  border: 1px solid #1f9775; /* Optional: a subtle border to give a defined look */
}

.filter-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #006d77;
  text-align: center;
  margin-bottom: 5px;
}

/* Custom Toggle for Single Date / Date Range */
.custom-toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
/* Stile base della checkbox */
.custom-checkbox input[type="checkbox"] {
  accent-color: #006d77; /* Cambia colore della spunta */
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Personalizzazione avanzata per browser che non supportano accent-color */
.custom-checkbox input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #006d77;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

/* Stile per la checkbox selezionata */
.custom-checkbox input[type="checkbox"]:checked {
  background-color: #006d77;
}

/* Aggiungere un'icona di spunta personalizzata */
.custom-checkbox input[type="checkbox"]:checked::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
}

.custom-toggle {
  padding: 8px 15px;
  background: #d4d4d4; /* Light gray */
  border: 1px solid #d1d5db;
  border-radius: 20px; /* Makes the toggle button more rounded */
  cursor: pointer;
  transition: all 0.3s;
}

.custom-toggle.active {
  background-color: #006d77;
}

.custom-toggle.active .toggle-button {
  transform: translateX(30px);
  background-color: #fff;
}

.custom-toggle.active .toggle-label {
  color: #fff;
}

.custom-toggle:hover {
  background-color: #006d77;
}
.toggle-label:hover {
  color: #fff;
}

.custom-toggle.active:hover {
  background-color: #006d77;
}

.toggle-label {
  margin-left: 5px;
  font-weight: bold;
  color: #868585;
}

/* titolo dei fields */
.filter-label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #006d77;
}

/* Filter Dropdown Input Enhancements */
.filter-input {
  border-radius: 12px; /* Makes the dropdown have rounded corners */
  border: 1px solid #ced4da;
  padding: 8px 12px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.filter-input option {
  border-radius: 1cm;
  padding: 10px;
  background: #ffffff;
  color: #006d77;
}
.filter-input option:hover {
  background-color: #006d77;
  color: #ddd;
}
.filter-input::-webkit-scrollbar {
  width: 8px;
}
.filter-input::-webkit-scrollbar-thumb {
  background: #a9a9a9; /* Blue scrollbar thumb */
  border-radius: 8px;
}
.filter-input::-webkit-scrollbar-thumb:hover {
  background-color: #006d77; /* Darker blue on hover */
}

.filter-input:focus {
  border-color: #006d77;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Date Picker Customization */
.date-picker-input {
  border-radius: 15px;
  border: 1px solid #d1d9e6;
  padding: 10px;
  transition: border 0.3s;
  color: #006d77;
}

.date-picker-input:focus {
  border-color: #006d77;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Document Cards */
.documents-list {
  padding: 15px;
}

/* Button & Spinner Styling */
/* .spinner-border {
  color: #770014;
} */

/* Card Styling for Responsiveness */
@media (max-width: px) {
  .filter-card {
    margin-bottom: 20px;
  }

  .filtered-result {
    margin-left: 0;
    padding-left: 0;
  }

  .sidebar-section {
    position: relative;
    border-right: none;
  }
}

#close-button-resp {
  color: #fff;
  background-color: #006d77;
  margin-left: 1cm;
}

@media (max-width: 280px) {
  .filtered-result {
    display: none;
  }
}

#sidebarFilterStakeholder {
  color: #006d77;
}

#sidebarFilterDocumentType {
  color: #006d77;
}

.popupFiltering {
  border: 2px solid #006d77; /* Colore e spessore del bordo per tutti i dispositivi */
  border-radius: 15px;
  margin-bottom: 5px;
  max-width: 100%;
}

/* PAGINATION */
.btn-page {
  background-color: #006d77;
  color: white;
  border: none;
  padding: 8px 16px;
  min-width: 100px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
}

.btn-page:hover,
.btn-page:focus {
  background-color: #003d42;
  transform: translateY(-1px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-page:disabled {
  background-color: white; /* Grigio chiaro per il campo */
  border-color: #dad0ce; /* Bordo grigio */
  color: rgb(50, 50, 50);
  cursor: not-allowed;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  filter: brightness(1.5); /* Aumenta la luminosità del pulsante */
  cursor: not-allowed;
}

.myPageColor {
  font-size: 1.2rem;
  padding: 10px;
  color: white;
}

/* Media query per dispositivi con larghezza massima di 768px (ad esempio tablet e dispositivi mobili) */
@media (max-width: 768px) {
  .popupFiltering {
    overflow-x: auto; /* Abilita l'overflow solo su schermi piccoli */
  }
}
