/* Background e layout principale */
.links-background {
  background: linear-gradient(to right, #006d77, #83c5be);
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.container {
  max-width: 700px;
}

.card-link {
  border-radius: 10px;
  height: 500px;
  width: 600px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.links-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #006d77;
  margin-bottom: 1rem;
}

/* Input e select (form elements) */
.links-input,
.links-select {
  border-radius: 5px;
  border: 1px solid #006d77;
  padding: 0.75rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.links-input:focus,
.links-select:focus {
  border-color: #006d77;
  box-shadow: 0 0 5px rgba(0, 109, 119, 0.5);
}

/* Pulsanti */
.btn-save {
  background-color: #006d77;
  border: none;
  padding: 0.6rem 2.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #005f6b;
}

/* Etichetta form */
.links-form-label {
  font-weight: 500;
  color: #006d77;
}

/* Media queries per schermi più piccoli */
@media (max-width: 768px) {
  .card-link {
    width: 100%; /* Fa sì che la card si adatti a schermi più piccoli */
    padding: 1rem;
  }

  .links-card-title {
    font-size: 1.5rem;
  }
}

/* Dropdown */
.dropdown-toggle {
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #006d77;
  padding: 0.75rem;
  font-size: 1rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

/* Dropdown Menu */
.dropdown-menu-white {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1050;
}

.form-select::after {
  display: none !important; /* Rimuove la freccia del dropdown */
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

/* Messaggi di errore */
.invalid-feedback {
  display: block;
  font-size: 0.875em;
  color: #dc3545;
}

/* Search bar (per la ricerca all'interno del dropdown) */
.search-bar {
  width: 100%;
  border-radius: 0 !important; /* Rimuove gli angoli arrotondati */
  padding: 0.75rem;
  border: 1px solid #006d77;
  margin: 0 10px;
  font-size: 1rem;
}

/* Form control per custom menu */
.custom-dropdown-search input {
  border-radius: 0 !important; /* Rende i bordi quadrati per la barra di ricerca */
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #006d77;
  margin: 0 10px;
}

/* Aggiustamenti per il menu a discesa quando il contenuto è lungo */
.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

/* Focus state per form elements */
:focus {
  outline: none;
}
