/* Background e layout principale */
.links-background {
  background: linear-gradient(to right, #006d77, #83c5be);
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.container {
  max-width: 700px;
}

.card-link {
  border-radius: 10px;
  height: 500px;
  width: 600px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.links-card-title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #006d77;
  margin-bottom: 1rem;
}

/* Input e select (form elements) */
.links-input,
.links-select {
  border-radius: 5px;
  border: 1px solid #006d77;
  padding: 0.75rem;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}

.links-input:focus,
.links-select:focus {
  border-color: #006d77;
  box-shadow: 0 0 5px rgba(0, 109, 119, 0.5);
}

/* Pulsanti */
.btn-save {
  background-color: #006d77;
  border: none;
  padding: 0.6rem 2.5rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #005f6b;
}

/* Etichetta form */
.links-form-label {
  font-weight: 500;
  color: #006d77;
}

/* Media queries per schermi più piccoli */
@media (max-width: 768px) {
  .card-link {
    width: 100%; /* Fa sì che la card si adatti a schermi più piccoli */
    padding: 1rem;
  }

  .links-card-title {
    font-size: 1.5rem;
  }
}
/* Applica gli stili SOLO all'interno del container con classe "links-container" */
.links-container .dropdown-toggle {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #006d77 !important;
  border-radius: 5px !important;
  padding: 0.75rem !important;
}

.links-container .dropdown-menu {
  background-color: #f0f0f0 !important;
  border-radius: 5px !important;
}

.links-container .dropdown-item {
  color: #000000 !important;
  padding: 10px !important;
  background-color: #f0f0f0 !important;
}

.links-container .dropdown-item:hover {
  background-color: #adadad !important;
  color: #000000 !important;
}

.links-container .form-select::after {
  display: none !important; /* Rimuove la freccia del dropdown */
}
