/* Stile globale della navbar */
.custom-navbar {
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: relative; /* Assicurati che non sia coperta */
  z-index: 9999; /* Porta la navbar in primo piano */
}

/* Stile del brand (Kiruna) */
.navbar-brand {
  color: #006d77;
  font-size: 26px; /* Ingrandito leggermente */
  font-weight: bold;
  text-decoration: none; /* Rimuove eventuali decorazioni */
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #004950 !important; /* Colore più scuro all'hover e focus */
}

.navbar-brand:active {
  color: #006d77 !important; /* Mantieni il colore verde */
}

/* Stile dei link della navbar */
.nav-link {
  color: #006d77;
  font-size: 20px; /* Ingrandito leggermente */
  font-weight: 500;
  position: relative; /* Necessario per il bordo inferiore */
  text-transform: capitalize;
  display: inline-block; /* Assicura che i link siano come blocchi */
  text-align: center; /* Centra il testo */
  min-width: 100px; /* Imposta una larghezza minima */
  padding: 10px 15px; /* Aggiunge spazio interno */
  margin-right: 10px; /* Spaziatura tra i link */
  text-decoration: none; /* Rimuove eventuali decorazioni */
}

/* Hover con striscia in basso */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -12px; /* Posiziona la striscia sotto il testo */
  left: 0;
  right: 0;
  height: 3px; /* Spessore della striscia */
  background-color: #006d77; /* Verde specificato */
  transform: scaleX(0); /* Nascondi inizialmente */
}

.nav-link:hover::after {
  transform: scaleX(1); /* Mostra la striscia quando hover */
}

.nav-link:hover {
  color: #004f55; /* Colore leggermente più scuro all'hover */
}

/* Stile per il link attivo */
.nav-link.active::after {
  transform: scaleX(1); /* Mantieni la striscia visibile */
}

.nav-link.active {
  color: #006d77 !important; /* Colore verde per il link attivo */
}

/* Rimuove il margine dall'ultimo link */
.nav-link:last-child {
  margin-right: 0;
}
