/* SearchBar.css */
.search-input {
    position: absolute;
    top: 13px;
    right: 30px;
    z-index: 100000000;
    border-radius: 8px;
    width: 200px; /* Imposta la larghezza desiderata qui */
    height: 30px;
    padding: 5px 10px;
}
